
label
    display: block
.reg
    display: flex
.reg__text
    font-weight: 300
    font-size: 24px
    line-height: 29px
    color: #000000
.reg__title
    font-weight: 300
    font-size: 24px
.reg__but
    width: 360px
    height: 45px
