.steps {
  background: #F8F3F4;
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.steps__title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.steps__nav {
  display: flex;
  list-style: none;
}
.steps__list:not(:last-child)::after {
  content: "/";
  margin-left: 8px;
  margin-right: 8px;
}
.steps__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.steps__link_red {
  color: #F16D7F;
}

.main__menu {
  width: 1140px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 64px;
}
.main__menu_left {
  position: absolute;
  left: 0;
}
.main__menu_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
